body {
    background-color: rgb(10, 18, 24);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a:link {
  color: rgb(255, 217, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(255, 136, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 10, 10);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 129, 27);
  background-color: transparent;
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 15px; 
  padding: 10px;
}


.gallery-item {
  flex: 1 1 180px; 
  max-width: 200px;
  border: 1px solid #444;
  background-color: #020d14;
  transition: transform 0.2s, border 0.2s;
}


.gallery-item:hover {
  border: 1px solid #aaa;
  transform: scale(1.03);
}


.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}


.gallery-item .desc {
  padding: 12px;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 5px;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;  
    align-items: stretch;    
  }

  .navbar a {
    width: 100%;              
    text-align: center;
    margin: 5px 0;     /*fuck this bullshit bro i hate my life*/
  }
}