body{
    background-color: rgb(10, 18, 24);
}


a:link {
  color: rgb(255, 205, 69);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(194, 103, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 10, 10);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 129, 27);
  background-color: transparent;
  text-decoration: underline;
}




.intro {
    background-color: rgb(26, 24, 51);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.abtm {
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 70px;

}

.musc {
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}

.soclar {
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}

.tmoh {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
